<h2>Votre demande a bien été envoyée</h2>

<p>Bonjour {{ user.username }},</p>

<p>Nous avons bien reçu votre demande pour devenir organisateur. </p>

<p>Notre équipe va l'examiner dans les plus brefs délais. Vous serez notifié une fois qu'une décision aura été prise.</p>

<p>Merci pour votre engagement,<br>L'équipe de la plateforme.</p>
